<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatting</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <script>
        const client = io('http://localhost:3000/');
        client.on('hello',()=>{
            console.log('Da ket noi')
        })
    </script>
</body>
</html>